@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: #000000;
    color: #FFFFFF;
  }
  ::selection {
    background-color: #FBAB18;
    color: #000000;
  }
}